.home{
  border-bottom: 1px solid #f1f1f1;
  box-shadow: 0 2px 5px rgba(230, 230, 230, 0.7);
  .wrap{
    .cntentNav{
      position: relative;
      width: 100%;
      height:100px;
      padding: 20px 0;
      //background: #0000fe;
      .fruitLogo{
        float: left;
      }
      .titlenav{
        float: left;
        padding-left: 40px;
        li{
          position: relative;
          float: left;
          display: block;
          a{
            position: relative;
            text-align: center;
            padding: 0 25px;
            margin: 20px 0;
            color:#999;
            border-right: 1px solid #eee;
            display: block;
            line-height: 20px;
            i{
              display: inline-block;
              position: absolute;
              left: 20px;
              bottom: -18px;
              width: 83px;
              border-bottom: 2px solid #64a131;
            }
          }

        }
        .active{
          a{color: #64a131;}
        }
        li:last-child a{border-right: none;}
        a:hover{background: #eee;}
      }
      .navRight{
        float: right;
        margin-right: 20px;
        .search{
          position: relative;
          float: left;
          width: 180px;
          margin-top: 20px;
          font-size: 12px;
          margin-right: 20px;
          input{
            width: 180px;
            padding: 5px 3px;
            border: none;
          }
          button{
            position: absolute;
            right: -10px;
            top: -2px;
            padding: 2px 6px;
            border: none;
            background: none;
          }
          .hotsearch{
            width: 100%;
            padding: 0 3px;
            border-top: 1px solid #999;
            color: #999;
            line-height: 22px;
            a{display: inline-block;
              padding-right: 5px;
              color: #999;}
          }
        }
        .car{float: right;margin-top: 20px;}
      }
    }
  }
}
.typepage{
  padding-top: 50px;
  .pull-left{float: left;}
  .wrap{
    .particulars{
      float: left;
      width: 1290px;
      margin-bottom: 100px;
    .bread{
      margin-bottom: 20px;
       .lvse a{color: #64a131;}
      .huise{color: #999;}
    }
    .focus{
      width: 700px;
      height: 560px;
      position: relative;
      float: left;
      .pull-left{
        float: left;
        width: 140px;
        height: 560px;
        li{
          cursor: pointer;
          width: 138px;
          height: 138px;
          margin-bottom: 2px;
          img{width: 100%;height: 100%;}
        }
      }
      .big{
        float: left;
        width: 560px;
        height: 560px;
        position: relative;
        overflow: hidden;
        li a{
          display: block;
          width: 560px;
          height: 560px;
          img{width: 560px;height: 560px;}
        }
      }
      .list{
        position: absolute;
        left: 0;
        top:0;
        .listSpan{
          background: #ff5353;
          line-height: 1;
          color: #fff;
          float: left;
          padding: 6px 5px;
          border-radius: 5px;
        }
      }
    }
    .product-info{
      padding-left: 20px;
      width: 570px;
      padding-top: 20px;
      float: right;
      .country{
        width: 532px;

        .name{
          width: 470px;
          float: left;
          h3{font-size: 24px;width: 100%;}
          p{height: 48px;
            line-height: 48px;
            color: #999;
          font-size: 16px;
          }
        }
      }
      .price-info{
        position: relative;
        border-bottom: 1px solid #ddd;

        .prices{
          width: 552px;
          height: 75px;
          padding-left: 10px;
          margin-bottom: 20px;
          margin-right: 20px;
          background: url(../img/head/icons.png)no-repeat 0 -48px;
          position: relative;
          line-height: 30px;
          .box{
            position: absolute;
            top:25px;
            float: left;
            h4{color: #999;width: 60px;float: left;}
            span{color: #64a131;width: 124px;font-weight: bold;font-size: 24px;float: left;padding-bottom: 10px;}
          }
          .box2{position: relative;
          width: 56px;
            height: 26px;
          margin-top: 25px;
          background: url(../img/head/icons.png)no-repeat -64px -8px;
          float: right;
          .weixin{
            position: absolute;
            top:-150px;
            right: 25px;
            z-index: 999999;
            display: none;
          }
          }
        }
        .guige{margin-bottom: 22px;
        padding-left: 10px;
          h4{
            color: #999;
            width: 60px;
            float: left;
          }
          .weight{
            float: left;
            span{
              display: block;
              height: 26px;
              padding: 0 20px;
              margin-right: 10px;
              text-align: center;
              line-height: 26px;
              background: #64a131;
              color: #fff;
              font-size: 12px;
              float: left;
              border: 1px solid #ddd;
              cursor: pointer;
            }
          }
        }
        .send{
          position: relative;
          margin-bottom: 21px;
          padding-left: 10px;
          z-index: 1;
          h4{color: #999;
          width: 60px;
          float: left;}
          .btn-group{
            height: 30px;
            float: left;
            position: relative;
            vertical-align: middle;
            .btn-default{
              float: left;
              position: relative;
              color: #333;
              background: #fff;
              border:1px solid #ddd;
              padding: 6px 12px;
              text-align: center;
              vertical-align: middle;
              cursor: pointer;
              //p{
              //  span{background: url(../img/head/down.jpg)no-repeat right;
              //  width: 20px; height: 13px;}
              //}
            }
            .dropdown-menu{
              position: absolute;
            top:32px;
            left: -45px;
            border: 1px solid #ddd;
            width: 350px;
            padding: 15px;
            box-shadow: 0 0 5px #ddd;
            z-index: 999999;
            background: #fff;
              .dropdown-content{
                position: relative;
                margin-bottom: 10px;
                zoom: 1;
                overflow: hidden;
                .dropdown-nav{
                  cursor: default;
                  overflow: hidden;
                  .tab{
                    width: 100%;
                    height: 25px;
                    float: left;
                    border-bottom: 2px solid #64a131;
                    overflow: visible;
                    li{
                      float: left;
                      clear: none;
                      text-align: center;
                      a{
                        position: relative;
                        float: left;
                        margin-right: 3px;
                        text-align: center;
                        padding: 0 21px 1px 11px;
                        border: 1px solid #ddd;
                        height: 23px;
                        line-height: 23px;
                        i{
                          position: absolute;
                          right: 4px;
                          top:10px;
                          display: block;
                          width: 7px;
                          height: 5px;
                          overflow: hidden;
                          background: url(../img/details/fd-stock.png)no-repeat 0 -35px;
                        }
                      }
                      .hover{
                        height: 25px;
                        background: #fff;
                        border: 2px solid #64a131;
                        border-bottom: 0;
                        padding: 0 20px 0 20px;
                        line-height: 22px;
                      }

                    }

                    }

                  }
                .fd-area{
                  zoom: 1;
                  overflow: hidden;
                  display: none;
                  .area-list{
                    padding-top: 5px;
                    li{
                      padding: 3px 0 3px 15px;
                      clear: none;
                      float: left;
                      width: 70px;
                      a{
                        float: left;
                        padding: 2px 4px;
                        color: #999;
                      }
                      a:hover{background: #64a131;color: #fff;}
                    }
                  }

                }
                .active{display: block;}
                }
              .dropdown-close{
                position: absolute;
              z-index:9999999;
              top: -10px;
              left: 365px;
              width: 21px;
              height: 21px;
              background: url('../img/details/delete.png')no-repeat;
              cursor: pointer;
              }
              }
            }
          .have{color: #64a131;
          width: 200px;
          padding: 7px 0 0 10px;
          //  padding-top: 7px;
          //  padding-left: 10px;
            float: left;
          }
          }


        .number{
          position: relative;
          margin-bottom: 30px;
          padding-left: 10px;
            h4{
              color: #999;
              width: 60px;
            }
          .goods-buy01{
            height: 24px;
            border: 1px solid #ddd;
            border-radius: 2px;
            span{
              width: 28px;
              height: 24px;
              background: #eee;
              color: #a6a6a6;
              text-align: center;
              line-height: 22px;
              cursor: pointer;
            }
            input{
              width: 35px;
              height: 22px;
              border: 0;
              text-align: center;
              line-height: 24px;

            }
          }
        }
        .buy{
          margin-bottom: 23px;
          a{
            display: block;
            width: 160px;
            height: 36px;
            text-align: center;
            font-size: 16px;
            line-height: 36px;
            border-radius: 5px;
          }
          .fr-buy{
            margin-right: 10px;
            margin-left: 70px;
            a{
              color: #7dafa7;
              background: #f5ffed;
              border: 1px solid #64a131;
            }
          }
          .fr-add{
            a{background: #64a131;
            color: #eff4ec;}
          }
        }

        }
      .comment{
        margin-top: 26px;
        .msg{width:275px;
          margin-bottom: 10px;
          h4{line-height: 20px;
          margin-right: 20px;
          color: #999;}

        }

      }
      }
    }

    .module{
      margin-bottom: 40px;
      .contantLeft{
        width: 1000px;
        border: 1px solid #ccc;
        .good-details{
          position: static;
          background-color: #f1f1f1;
          width: 1000px;
          span{height: 39px;
            line-height: 39px;
            padding: 0 38px;
            text-align: center;
            cursor: pointer;
            border-right: 1px solid #ddd;
            margin-top: -1px;
            b{color: #64a131;}
          }
          .cur{
            border-top: 3px solid #64a131;
            background: #fff;
            padding: 0 36px;
          }
          a{
            display: block;
            width: 172px;
            height: 38px;
            line-height: 38px;
            font-size: 16px;
            text-align: center;
            background: #64a131;
            padding: 2px 22px;
            float: right;
            color: #fff;
            position: relative;
            i{
              display: block;
              background: url(../img/head/icons.png)no-repeat -528px -6px;
              width: 20px;
              height: 20px;
              margin-top: 7px;
              margin-left: 10px;

            }
            .airfruit{
              position: absolute;
              right: 0;
              bottom: -168px;
              width: 358px;
              height: 136px;
              background: #fff;
              border:1px solid #ccc;
              border-right: 0;
              padding: 15px;
              display: none;
              .fruitleft{
                img{
                  width: 140px;
                  height: 140px;

                }
              }
              .fruitright{
                width: 175px;
                padding-left: 14px;
                h4{
                  color: #333;
                  line-height: 26px;
                  text-align: left;
                }
                p{
                  text-align: left;
                  line-height: 31px;
                  color: #999;
                }
                .sure{
                  background: #64a131;
                  border-radius: 5px;
                  width: 90px;
                  height: 30px;
                  line-height: 30px;
                  margin-top: 20px;
                  font-size: 16px;
                  cursor: pointer;
                }
              }
            }
          }
        }
        .origin{
          width: 1000px;
          .referral{
            .intro{
              border: 1px solid #d8d8d8;
              border-top: 0;
              dl{
                border-bottom: 1px solid #d8d8d8;
                line-height: 17px;
                width: 100%;
                font-weight: lighter;
                float: left;
                dt{width: 86px;
                text-align: left;
                padding: 9px 12px;
                font-weight: bold;
                  float: left;}
                dd{
                  border-left: 1px solid #d8d8d8;
                  padding: 9px 12px;
                  float: left;
                }
              }
              dl:nth-child(odd){background: #f7f7f7;}
            }
          }
          img{width: 100%;
          display:block;}
        }
      }
      .rightpart{
        width: 260px;
        padding-left: 20px;
        float: right;
        h4{
          color:#64a131;
          line-height: 39px;
          border-bottom: 1px solid #ccc;
        }
        ul{
          li{
            width: 260px;
            height: 91px;
            padding: 13px 0 8px 0;
            border-bottom: 1px solid #ccc;
            a{
              img{
                width: 70px;
                height: 70px;
              }
              .title{
                padding-left: 10px;
                h4{
                  line-height: 20px;
                  width: 150px;
                }
                p{line-height: 20px;
                color: #999;}
              }
            }
          }
        }
      }
    }
  }
}