.home {
  border-bottom: 1px solid #f1f1f1;
  box-shadow: 0 2px 5px rgba(230, 230, 230, 0.7);
}

.home .wrap .cntentNav {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 20px 0;
}

.home .wrap .cntentNav .fruitLogo {
  float: left;
}

.home .wrap .cntentNav .titlenav {
  float: left;
  padding-left: 40px;
}

.home .wrap .cntentNav .titlenav li {
  position: relative;
  float: left;
  display: block;
}

.home .wrap .cntentNav .titlenav li a {
  position: relative;
  text-align: center;
  padding: 0 25px;
  margin: 20px 0;
  color: #999;
  border-right: 1px solid #eee;
  display: block;
  line-height: 20px;
}

.home .wrap .cntentNav .titlenav li a i {
  display: inline-block;
  position: absolute;
  left: 20px;
  bottom: -18px;
  width: 83px;
  border-bottom: 2px solid #64a131;
}

.home .wrap .cntentNav .titlenav .active a {
  color: #64a131;
}

.home .wrap .cntentNav .titlenav li:last-child a {
  border-right: none;
}

.home .wrap .cntentNav .titlenav a:hover {
  background: #eee;
}

.home .wrap .cntentNav .navRight {
  float: right;
  margin-right: 20px;
}

.home .wrap .cntentNav .navRight .search {
  position: relative;
  float: left;
  width: 180px;
  margin-top: 20px;
  font-size: 12px;
  margin-right: 20px;
}

.home .wrap .cntentNav .navRight .search input {
  width: 180px;
  padding: 5px 3px;
  border: none;
}

.home .wrap .cntentNav .navRight .search button {
  position: absolute;
  right: -10px;
  top: -2px;
  padding: 2px 6px;
  border: none;
  background: none;
}

.home .wrap .cntentNav .navRight .search .hotsearch {
  width: 100%;
  padding: 0 3px;
  border-top: 1px solid #999;
  color: #999;
  line-height: 22px;
}

.home .wrap .cntentNav .navRight .search .hotsearch a {
  display: inline-block;
  padding-right: 5px;
  color: #999;
}

.home .wrap .cntentNav .navRight .car {
  float: right;
  margin-top: 20px;
}

.detailed .pull-left {
  float: left;
}

.detailed .pull-right {
  float: right;
}

.detailed .wrap .variety {
  padding-top: 30px;
}

.detailed .wrap .variety .species {
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.detailed .wrap .variety .species h4 {
  color: #999;
  line-height: 24px;
  margin-right: 20px;
}

.detailed .wrap .variety .species .select {
  width: 1230px;
}

.detailed .wrap .variety .species .select .leftpart {
  width: 48px;
}

.detailed .wrap .variety .species .select .leftpart a {
  line-height: 24px;
  display: block;
  background: #64a131;
  color: #fff;
  text-align: center;
  padding: 0 10px;
}

.detailed .wrap .variety .species .select .rightpace {
  width: 1182px;
}

.detailed .wrap .variety .species .select .rightpace a {
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
}

.detailed .wrap .variety .species .select .last {
  background: #f0f0f0;
}

.detailed .wrap .repertoire {
  margin-top: 30px;
}

.detailed .wrap .repertoire .leftpart {
  width: 1000px;
  margin-bottom: 100px;
}

.detailed .wrap .repertoire .leftpart ul li {
  position: relative;
  width: 244px;
  margin: 0 4px 10px;
  float: left;
}

.detailed .wrap .repertoire .leftpart ul li .surround {
  float: left;
}

.detailed .wrap .repertoire .leftpart ul li .surround .s-img {
  height: 244px;
  margin-bottom: 5px;
  position: relative;
}

.detailed .wrap .repertoire .leftpart ul li .surround .s-img a img {
  height: 100%;
  width: 100%;
}

.detailed .wrap .repertoire .leftpart ul li .surround .s-img .list {
  position: absolute;
  left: 0;
  top: 0;
}

.detailed .wrap .repertoire .leftpart ul li .surround .s-img .list .listSpan {
  background: #ff5353;
  line-height: 1;
  color: #fff;
  float: left;
  padding: 6px 5px;
  border-radius: 5px;
}

.detailed .wrap .repertoire .leftpart ul li .surround .info {
  margin: 0 3px 5px 0;
  height: 24px;
  left: 24px;
}

.detailed .wrap .repertoire .leftpart ul li .surround .info .pice {
  padding-right: 3px;
  color: #999;
}

.detailed .wrap .repertoire .leftpart ul li .surround .axe {
  padding-top: 3px;
}

.detailed .wrap .repertoire .leftpart ul li .surround .axe .kg {
  width: 200px;
  height: 22px;
  line-height: 22px;
  padding-right: 3px;
}

.detailed .wrap .repertoire .leftpart ul li .surround .axe .kg span {
  padding: 0 5px;
  color: #999;
  margin-right: 18px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  border: 1px solid #ddd;
  cursor: pointer;
}

.detailed .wrap .repertoire .leftpart ul li .surround .axe .kg .car {
  background: url("../img/head/icons.png") no-repeat -518px -243px;
  position: absolute;
  top: -3px;
  right: 5px;
  width: 34px;
  height: 34px;
  cursor: pointer;
}

.detailed .wrap .repertoire .rightpart {
  width: 260px;
  float: right;
}

.detailed .wrap .repertoire .rightpart h4 {
  color: #64a131;
  line-height: 39px;
  border-bottom: 1px solid #ccc;
}

.detailed .wrap .repertoire .rightpart ul li {
  width: 260px;
  height: 91px;
  padding: 13px 0 8px 0;
  border-bottom: 1px solid #ccc;
}

.detailed .wrap .repertoire .rightpart ul li a img {
  width: 70px;
  height: 70px;
}

.detailed .wrap .repertoire .rightpart ul li a .title {
  padding-left: 10px;
}

.detailed .wrap .repertoire .rightpart ul li a .title h4 {
  line-height: 20px;
  width: 150px;
}

.detailed .wrap .repertoire .rightpart ul li a .title p {
  line-height: 20px;
  color: #999;
}
