.container {
  margin-bottom: 40px;
}

.container .logo {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(230, 230, 230, 0.7);
  padding-left: 80px;
}

.container .member {
  padding-top: 50px;
  width: 1000px;
  margin: 0 auto;
}

.container .member .ml {
  font-size: 20px;
  color: #999;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 35px;
}

.container .member .memberLogo .loginLeft {
  width: 500px;
  position: relative;
  margin-bottom: 46px;
  float: left;
}

.container .member .memberLogo .loginLeft .login {
  position: absolute;
  bottom: 21px;
  left: 175px;
}

.container .member .memberLogo .loginLeft .login a {
  padding: 12px 33px;
  height: 48px;
  line-height: 48px;
  border-radius: 5px;
  border: 1px solid #64a131;
  text-align: center;
  color: #64a131;
}

.container .member .memberLogo .loginRight {
  padding-left: 60px;
  float: right;
}

.container .member .memberLogo .loginRight .mage {
  width: 410px;
  height: 370px;
}

.container .member .memberLogo .loginRight .mage .textbox {
  border: 1px solid #999;
  width: 300px;
  height: 40px;
  padding-left: 10px;
}

.container .member .memberLogo .loginRight .mage .label {
  display: inline-block;
  width: 80px;
  text-align: center;
  font-size: 16px;
  color: #999;
}

.container .member .memberLogo .loginRight .mage input {
  margin-bottom: 15px;
}

.container .member .memberLogo .loginRight .mage .pass {
  float: right;
  text-decoration: underline;
}

.container .member .memberLogo .loginRight .mage button {
  width: 143px;
  height: 38px;
  line-height: 38px;
  border-radius: 5px;
  border: 0;
  font-size: 22px;
  background-color: #64a131;
  text-align: center;
  color: #fff;
}

.container .member .memberLogo .loginRight .mage .btnSubmit {
  margin-left: 100px;
}

.container .member .memberLogo .loginRight .mage .memberBtn {
  border: 1px solid #64a131;
  background-color: #f5ffed;
  color: #7bae55;
  float: right;
}
